.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
 }
 
 .poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
 }
 
 .poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
 }
 
 .poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
 }
 
 body {
  margin: 20px;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
 }
 
 p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
 }
 
 * {
  box-sizing: border-box;
  line-height: 1.25;
 }
 
 .container {
  display: flex;
  justify-content: space-between;
  align-items: left;
  max-width: 1920px;
  width: 100%;
  margin: 30px;
  padding: 0 10px;
 }
 
 .related-blog {
  padding: 10px;
  margin: 20px auto;
  background: rgba(157, 204, 255, 1);
 }
 
 .related-blog__container {
  display: flex;
  flex-direction: column;
  gap: 99px;
  padding: 70px 0;
 }
 
 .related-blog__title {
  font-size: 30px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
 }
 
 .related-blog__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
 }
 
 .related-blog__text {
 font-size: 1.2 em;
 font-weight: 500;
 }
 
 .related-blog__image {
  display: flex;
  flex-direction: row;
  width: 720px;
  height: 380px;
  border-radius: 20px;
  margin: 30px auto;
 }
 
 .related-blog__item {
  background: rgba(255, 255, 255, 1);
  flex: 1;
  padding: 15px;
  width: 35px;
  border: 20px;
 }

 .related-blog__img-Lina {
 color: rgba(0, 0, 0, 1);
 font-family: Poppins;
 font-size: 18px;
 font-weight: 500;
 line-height: 100%;
 letter-spacing: 2%;
 text-align: left;
 }

 .related-blog__text-Lina {
  text-align: center;
 }